system:
  server: http://127.0.0.1:8080
  machine_id: "xxx"
  private_key: "xx"
  load_default_task: ['UpdateScripts']
plugin:
  nginx_config_path: /Users/hyh/Downloads/http-config
  install_path: software