[Unit]
Description=$name
#/etc/systemd/system/xxx.service
[Service]
Type=simple
User=root
WorkingDirectory=$work/$name
ExecStart=$work/$name
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target